body {
    background-color: darkslategray;
}

h1, h3, p, a:link {
    color: white;
    font-family:'Times New Roman', Times, serif;
}

a:visited{
    color: palevioletred;
}

a:hover{
    color: mediumvioletred;
}

img {
    border: 5px solid lightcyan;
}